.profile-summary-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 180px;
  }
  
  .avatar-container {
    flex: 0 0 80px;
  }
  
  .details-container {
    flex: 1;
    padding: 0 20px;
    text-align: left;
    
  }
  
  .progress-container {
    flex: 0 0 80px;
    display: flex;
    justify-content: center;
  }